<link rel="import" href="../../bower_components/px-data-table/px-data-table.html" />
<link rel="import" href="../../bower_components/flip-card/flip-card.html">
<link rel="import" href="../../bower_components/px-simple-horizontal-bar-chart/px-simple-horizontal-bar-chart.html">
<link rel="import" href="../../bower_components/px-percent-circle/px-percent-circle.html">
<link rel="import" href="../../bower_components/px-widget-cards/px-twoup.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="stylesheet" type="text/css" href="blankpage.css">
<link rel="stylesheet" type="text/css" href="circle.css">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/px-theme/px-theme-styles.html">
<link rel="import" href="../../bower_components/google-chart/google-chart.html">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Week', 'Jobs with missing parts'],
          ['14',  30],
          ['15',  10],
          ['16',  30],
          ['17',  10],
          ['18',  15],
          ['19',  16],
          ['20',  14],
          ['21',  17],
          ['22',  19]
        ]);

        var options = {
          title: 'Mising Part Overview',
          // hAxis: { maxValue: 7 },
          // vAxis: { maxValue: 13 },
          curveType: 'function',
          lineWidth: 2.5,
          legend: { position: 'bottom' },
          colors: ['red'],
          pointSize: 10,
          pointShape: { type: 'circle', rotation: 180,  }

        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
<dom-module id="kpi-view">
  <template>
    <div class="kpi-container">
    <div>
    <px-data-table table-data='[{"Prod center":"Prod_01","Work Orders":"W.Order 1","Total jobs":"40", "Jobs OTD":"80%", "Jobs WIP":"35", "Jobs with Missing Part":"6", "Jobs with Late Delivery":"2"},
                                {"Prod center":"Prod_01","Work Orders":"W.Order 1","Total jobs":"40", "Jobs OTD":"80%", "Jobs WIP":"35", "Jobs with Missing Part":"6", "Jobs with Late Delivery":"2"},
                                {"Prod center":"Prod_01","Work Orders":"W.Order 1","Total jobs":"40", "Jobs OTD":"80%", "Jobs WIP":"35", "Jobs with Missing Part":"6", "Jobs with Late Delivery":"2"},
                                {"Prod center":"Prod_01","Work Orders":"W.Order 1","Total jobs":"40", "Jobs OTD":"80%", "Jobs WIP":"35", "Jobs with Missing Part":"6", "Jobs with Late Delivery":"2"},
                                {"Prod center":"Prod_01","Work Orders":"W.Order 1","Total jobs":"40", "Jobs OTD":"80%", "Jobs WIP":"35", "Jobs with Missing Part":"6", "Jobs with Late Delivery":"2"}]'
      language="en" striped="true" filterable="true" sortable="true"  single-select="true" show-column-chooser="true" include-all-columns="true">
      <px-data-table-column name='Prod center'></px-data-table-column>
      <px-data-table-column name='Work Orders'></px-data-table-column>
      <px-data-table-column name='Total jobs'></px-data-table-column>
      <px-data-table-column name='Jobs OTD'></px-data-table-column>
      <px-data-table-column name='Jobs WIP'></px-data-table-column>
      <px-data-table-column name='Jobs with Missing Part'></px-data-table-column>
      <px-data-table-column name='Jobs with Late Delivery' onclick=""></px-data-table-column>
    </px-data-table>
  </div>

    <div>
      <px-twoup id="widget-2" widget-header="Prod Center Level Job OTD" widget-icon="fa-paper-plane">
        <div class='widget-1'><span>
          <px-simple-horizontal-bar-chart
            width="550"
            height="200"
            bar-labels="percentage"
            legend-labels='["Open Jobs","Target","Closed Jobs"]'
            chart-data='[2,8,5]'>
            </px-simple-horizontal-bar-chart></span>
          </div>

          <div class='widget-2'>
            <div id="curve_chart" style="width: 900px; height: 500px"></div>




            </div>
      </px-twoup>
      </div>
</div>
      <div id="kpiViewDiv"class="col-md-1 flex-container horizontal justi">

          <div class="flex-item1"><paper-button raised class="green">DOC</paper-button></div>
          <div class="flex-item1"><paper-button raised class="green">EHS</paper-button></div>
          <div class="flex-item1"><paper-button raised class="green">OTD</paper-button></div>
          <div class="flex-item1"><paper-button raised class="green">QUALITY</paper-button></div>
          <div class="flex-item1"><paper-button raised class="green">SHIPPING</paper-button></div>
          <div class="flex-item1"><paper-button raised class="green">E-MAIL</paper-button></div>
          <div class="flex-item1"><paper-button raised class="red">STOP THE LINE</paper-button></div>
        </div>



  </template>
</dom-module>
<script>
  Polymer({
    is: 'kpi-view',



    properties: {
      customer1: String,
      data: Object,
        }
      });
</script>
