<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-sample-cards/blank-card.html">
<link rel="import" href="../../bower_components/px-view-header/px-view-header.html">
<link rel="stylesheet" type="text/css" href="blankpage.css">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/flip-card/flip-card.html">
<link rel="import" href="../../bower_components/px-progress-bar/px-progress-bar.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">


<dom-module id="plant-level-view">
  <template>

    <iron-ajax
    auto
    url="cust.json"
    handle-as="json"

    debounce-duration="300"
    loading="{{loading}}"
    last-response="{{data}}">

    </iron-ajax>

    <px-view-header title="PCC" style="display: block; margin-bottom: 6px;"></px-view-header>
    <div class="col-md-1 flex-container" >
      <paper-material elevation="1" class="paper" link="http://localhost:5000/#/dashboards"on-click="goLink">
        <br><span>VTX S </span></span><br>
        <span>Customer </span></span><br>
        <span>S/No:</span></span><br>
        <span>FC Start</span></span><br>
        <span>FC end</span></span><br>
        <span>XR Start</span></span><br>
        <span>XR End</span></span><br><br>
        <px-progress-bar value="20" striped="true" animated="true"></px-progress-bar>
      </paper-material>
      <paper-material elevation="1" class="paper"link="http://localhost:5000/#/dashboards"on-click="goLink">
        <br><span>VTX S </span></span><br>
        <span>Customer </span></span><br>
        <span>S/No:</span></span><br>
        <span>FC Start</span></span><br>
        <span>FC end</span></span><br>
        <span>XR Start</span></span><br>
        <span>XR End</span></span><br><br>
        <px-progress-bar value="20" striped="true" animated="true"></px-progress-bar>
      </paper-material>
      <paper-material elevation="1" class="paper"link="http://localhost:5000/#/dashboards"on-click="goLink">
        <br><span>VTX S </span></span><br>
        <span>Customer </span></span><br>
        <span>S/No:</span></span><br>
        <span>FC Start</span></span><br>
        <span>FC end</span></span><br>
        <span>XR Start</span></span><br>
        <span>XR End</span></span><br><br>
        <px-progress-bar value="20" striped="true" animated="true"></px-progress-bar>
      </paper-material>
      <paper-material elevation="1" class="paper"link="http://localhost:5000/#/dashboards"on-click="goLink">
        <br><span>VTX S </span></span><br>
        <span>Customer </span></span><br>
        <span>S/No:</span></span><br>
        <span>FC Start</span></span><br>
        <span>FC end</span></span><br>
        <span>XR Start</span></span><br>
        <span>XR End</span></span><br><br>
        <px-progress-bar value="20" striped="true" animated="true"></px-progress-bar>
      </paper-material>
      </div>
      <div class="col-md-1 flex-container">
        <paper-material elevation="1" class="paper"link="http://localhost:5000/#/dashboards"on-click="goLink">
          <br><span>VTX S </span></span><br>
          <span>Customer </span></span><br>
          <span>S/No:</span></span><br>
          <span>FC Start</span></span><br>
          <span>FC end</span></span><br>
          <span>XR Start</span></span><br>
          <span>XR End</span></span><br><br>
          <px-progress-bar value="20" striped="true" animated="true"></px-progress-bar>
        </paper-material>
        <paper-material elevation="1" class="paper"link="http://localhost:5000/#/dashboards"on-click="goLink">
          <br><span>VTX S </span></span><br>
          <span>Customer </span></span><br>
          <span>S/No:</span></span><br>
          <span>FC Start</span></span><br>
          <span>FC end</span></span><br>
          <span>XR Start</span></span><br>
          <span>XR End</span></span><br><br>
          <px-progress-bar value="20" striped="true" animated="true"></px-progress-bar>
        </paper-material>
        <paper-material elevation="1" class="paper"link="http://localhost:5000/#/dashboards"on-click="goLink">
          <br><span>VTX S </span></span><br>
          <span>Customer </span></span><br>
          <span>S/No:</span></span><br>
          <span>FC Start</span></span><br>
          <span>FC end</span></span><br>
          <span>XR Start</span></span><br>
          <span>XR End</span></span><br><br>
          <px-progress-bar value="20" striped="true" animated="true"></px-progress-bar>
        </paper-material>
        <paper-material elevation="1" class="paper"link="http://localhost:5000/#/dashboards"on-click="goLink">
          <br><span>VTX S </span></span><br>
          <span>Customer </span></span><br>
          <span>S/No:</span></span><br>
          <span>FC Start</span></span><br>
          <span>FC end</span></span><br>
          <span>XR Start</span></span><br>
          <span>XR End</span></span><br><br>
          <px-progress-bar value="20" striped="true" animated="true"></px-progress-bar>
        </paper-material>
        <paper-material elevation="1" class="paper"link="http://localhost:5000/#/dashboards"on-click="goLink">
          <br><span>VTX S </span></span><br>
          <span>Customer </span></span><br>
          <span>S/No:</span></span><br>
          <span>FC Start</span></span><br>
          <span>FC end</span></span><br>
          <span>XR Start</span></span><br>
          <span>XR End</span></span><br><br>
          <px-progress-bar value="20" striped="true" animated="true"></px-progress-bar>
        </paper-material>
        <paper-material elevation="1" class="paper"link="http://localhost:5000/#/dashboards"on-click="goLink">
          <br><span>VTX S </span></span><br>
          <span>Customer </span></span><br>
          <span>S/No:</span></span><br>
          <span>FC Start</span></span><br>
          <span>FC end</span></span><br>
          <span>XR Start</span></span><br>
          <span>XR End</span></span><br><br>
          <px-progress-bar value="20" striped="true" animated="true"></px-progress-bar>
        </paper-material>
        <paper-material elevation="1" class="paper"link="http://localhost:5000/#/dashboards"on-click="goLink">
          <br><span>VTX S </span></span><br>
          <span>Customer </span></span><br>
          <span>S/No:</span></span><br>
          <span>FC Start</span></span><br>
          <span>FC end</span></span><br>
          <span>XR Start</span></span><br>
          <span>XR End</span></span><br><br>
          <px-progress-bar value="20" striped="true" animated="true"></px-progress-bar>
        </paper-material>
        <paper-material elevation="1" class="paper"link="http://localhost:5000/#/dashboards"on-click="goLink">
          <br><span>VTX S </span></span><br>
          <span>Customer </span></span><br>
          <span>S/No:</span></span><br>
          <span>FC Start</span></span><br>
          <span>FC end</span></span><br>
          <span>XR Start</span></span><br>
          <span>XR End</span></span><br><br>
          <px-progress-bar value="20" striped="true" animated="true"></px-progress-bar>
        </paper-material>
        </div>
        <div class="col-md-1 flex-container">
          <paper-material elevation="1" class="paper" link="http://localhost:5000/#/dashboards"on-click="goLink">
            <br><span>VTX S </span></span><br>
            <span>Customer </span></span><br>
            <span>S/No:</span></span><br>
            <span>FC Start</span></span><br>
            <span>FC end</span></span><br>
            <span>XR Start</span></span><br>
            <span>XR End</span></span><br><br>
            <px-progress-bar value="20" striped="true" animated="true"></px-progress-bar>
          </paper-material>
          <paper-material elevation="1" class="paper"link="http://localhost:5000/#/dashboards"on-click="goLink">
            <br><span>VTX S </span></span><br>
            <span>Customer </span></span><br>
            <span>S/No:</span></span><br>
            <span>FC Start</span></span><br>
            <span>FC end</span></span><br>
            <span>XR Start</span></span><br>
            <span>XR End</span></span><br><br>
            <px-progress-bar value="20" striped="true" animated="true"></px-progress-bar>
          </paper-material>
          <paper-material elevation="1" class="paper"link="http://localhost:5000/#/dashboards"on-click="goLink">
            <br><span>VTX S </span></span><br>
            <span>Customer </span></span><br>
            <span>S/No:</span></span><br>
            <span>FC Start</span></span><br>
            <span>FC end</span></span><br>
            <span>XR Start</span></span><br>
            <span>XR End</span></span><br><br>
            <px-progress-bar value="20" striped="true" animated="true"></px-progress-bar>
          </paper-material>
          <paper-material elevation="1" class="paper"link="http://localhost:5000/#/dashboards"on-click="goLink">
            <br><span>VTX S </span></span><br>
            <span>Customer </span></span><br>
            <span>S/No:</span></span><br>
            <span>FC Start</span></span><br>
            <span>FC end</span></span><br>
            <span>XR Start</span></span><br>
            <span>XR End</span></span><br><br>
            <px-progress-bar value="20" striped="true" animated="true"></px-progress-bar>
          </paper-material>
          </div>
          <div class="col-md-1 flex-container">
            <paper-material elevation="1" class="paper"link="http://localhost:5000/#/dashboards"on-click="goLink">
              <br><span>VTX S </span></span><br>
              <span>Customer </span></span><br>
              <span>S/No:</span></span><br>
              <span>FC Start</span></span><br>
              <span>FC end</span></span><br>
              <span>XR Start</span></span><br>
              <span>XR End</span></span><br><br>
              <px-progress-bar value="20" striped="true" animated="true"></px-progress-bar>
            </paper-material>
            <paper-material elevation="1" class="paper"link="http://localhost:5000/#/dashboards"on-click="goLink">
              <br><span>VTX S </span></span><br>
              <span>Customer </span></span><br>
              <span>S/No:</span></span><br>
              <span>FC Start</span></span><br>
              <span>FC end</span></span><br>
              <span>XR Start</span></span><br>
              <span>XR End</span></span><br><br>
              <px-progress-bar value="20" striped="true" animated="true"></px-progress-bar>
            </paper-material>
            <paper-material elevation="1" class="paper"link="http://localhost:5000/#/dashboards"on-click="goLink">
              <br><span>VTX S </span></span><br>
              <span>Customer </span></span><br>
              <span>S/No:</span></span><br>
              <span>FC Start</span></span><br>
              <span>FC end</span></span><br>
              <span>XR Start</span></span><br>
              <span>XR End</span></span><br><br>
              <px-progress-bar value="20" striped="true" animated="true"></px-progress-bar>
            </paper-material>
            <paper-material elevation="1" class="paper">
              <br><span>VTX S </span></span><br>
              <span>Customer </span></span><br>
              <span>S/No:</span></span><br>
              <span>FC Start</span></span><br>
              <span>FC end</span></span><br>
              <span>XR Start</span></span><br>
              <span>XR End</span></span><br><br>
              <px-progress-bar value="20" striped="true" animated="true"></px-progress-bar>
            </paper-material>
            </div>
        </div>


  </template>

</dom-module>
<script>
  Polymer({
    is: 'plant-level-view',


    properties: {
        customer1: String,
        data: Object
      },

      goLink: function(e) {
          window.location.href = e.target.getAttribute('link');

      },

      loading:{
        type:Boolean,
        value: false,
        notify: true
      },


    });
</script>
